.gif-cmp {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.555);
  border: black 3px solid;
  border-radius: 10px;
  height: 60vh;
  width: 60vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  overflow-x: hidden;
  .close {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    &:hover {
      background-color: rgb(79, 192, 202);
    }
  }
  form {
    display: flex;
    gap: 5px;
    input {
      border-radius: 3em;
      height: 40px;
      padding: 2px 5px 2px 5px;
      width: 35%;
      min-width: 250px;
    }
    button {
      border-radius: 3em;
      border: none;
      box-shadow: 0 0 3px white;
      &:hover {
        background-color: rgb(79, 192, 202);
      }
    }
  }
  h3 {
    margin: 2px;
  }
  h5 {
    margin: 2px 0 5px 2px;
    text-align: left;
  }
  .modal-gif {
    button {
      margin-top: 20px;
      padding: 10px;
      border-radius: 3em;
      border: none;
      &:hover {
        background-color: rgb(79, 192, 202);
      }
    }
  }
}

@media (max-width: 600px) {
  .gif-cmp {
    width: 100%;

    .giphy-attribution.css-1wzfwfv {
      display: none !important;
    }
  }
}
