.image-share-window {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.568);
  // color: black;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  min-height: 50vh;
  height: 70vh;
  width: 55%;
  border: 2px solid;
  h4 {
    padding: 0;
    margin: 2px;
  }
  .unsplash-list {
    padding: 10px;
    background: rgb(142, 142, 142);
    background: linear-gradient(
      321deg,
      rgba(142, 142, 142, 1) 1%,
      rgba(40, 88, 119, 1) 75%,
      rgba(34, 82, 65, 1) 94%
    );
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    gap: 15px;
    height: 60%;
    width: 95%;
    align-self: center;
    border-radius: 5px;
    .container {
      max-height: 170px;
      img {
        max-height: 100%;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 8px 8px 6px rgb(49, 49, 49);
      }
    }
  }
  .close {
    align-self: flex-end;
  }
  .unsplash-form {
    display: flex;
    gap: 5px;
    input {
      width: 50%;
      height: 40px;
      border-radius: 3em;
      border: none;
      padding: 0 10px 0 10px;
      &:focus {
        outline: rgb(10, 157, 177) 2px solid;
      }
    }
    button {
      border-radius: 3em;
      border: none;
      box-shadow: 0 0 4px rgb(125, 149, 144);
      padding: 10px;
      &:hover {
        background-color: rgb(94, 221, 243);
      }
    }
  }
  .upload-form {
    display: flex;
    align-items: center;
    gap: 5px;
    label {
      font-size: 1rem;
      background-color: rgb(65, 211, 143);
      padding: 8px;
      border-radius: 3em;
      box-shadow: 0 0 4px rgb(125, 149, 144);
      cursor: pointer;
      &:hover {
        background-color: rgb(94, 221, 243);
      }
    }
    .upload-input {
      display: none;
    }
  }

  .upload-preview {
    display: flex;
    align-self: center;
    height: 150px;
    border-radius: 10px;
    gap: 20px;
    .img-container {
      overflow: hidden;
      max-height: 200px;
      max-width: 150px;
      border-radius: 10px;
      img {
        max-height: 200px;
        max-width: 150px;
        border-radius: 10px;
      }
    }
    .send-btn {
      border-radius: 3em;
      background-color: #fff;
      border: none;
      box-shadow: 0 0 4px rgb(125, 149, 144);
      padding: 10px 20px 10px 20px;
      width: max-content;
      align-self: self-end;
      &:hover {
        background-color: rgb(94, 221, 243);
      }
    }
    .preview-loader {
      position: unset;
      width: 100px;
      height: 30px;
    }
  }
}

@media (max-width: 600px) {
  .image-share-window {
    width: 100%;
    min-width: unset;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
      &:nth-child(2) {
        animation-delay: -0.3s;
        &:nth-child(3) {
          animation-delay: -0.15s;
        }
      }
    }
  }
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
