.blocks-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  //   justify-content: space-between;
  padding: 20px 0 20px 0;
  min-height: 65vh;
  overflow: auto;
  .block-preview {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    display: flex;
    gap: 7px;
    flex-direction: column;
    background: rgb(92, 103, 105);
    background: linear-gradient(
      321deg,
      rgba(142, 142, 142, 1) 1%,
      rgba(40, 88, 119, 1) 27%,
      rgba(34, 82, 65, 1) 94%
    );
    border: 2px black solid;
    align-items: center;
    height: 300px;
    width: 220px;
    justify-content: space-between;
    img {
      max-width: 100px;
    }
    a {
      align-self: flex-start;
      font-size: 1rem;
      color: white;
    }
    span {
      align-self: flex-start;
      font-size: 1rem;
    }
    .actions {
      border: 1px white solid;
      border-radius: 3em;
      width: 80%;
      background-color: darken(rgb(92, 103, 105), 10%);
      img {
        max-width: 30px;
      }
    }
  }
}

@media (max-width: 500px) {
  .blocks-list {
    align-items: center;
    justify-content: center;
    .block-preview {
      width: 90%;
    }
  }
}
