.landing-page {
  display: flex;
  flex-direction: column;
  .enter-as-guest {
    display: flex;
    background: rgb(229, 108, 9);
    background: linear-gradient(
      332deg,
      rgba(229, 108, 9, 1) 0%,
      rgba(41, 195, 173, 1) 60%,
      rgba(103, 74, 101, 1) 100%
    );
    //in mobile
    width: 90vw;
    //in desktop
    // width: 70vw;
    align-self: center;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    border-radius: 3em;
    button {
      padding: 1em;
      border-radius: 3em;
      box-shadow: white 0px 0px 5px;
      border: none;
      background-color: crimson;
      color: white;
      font-weight: 600;
      transition: all 0.5s ease-in-out;
      &:hover {
        background-color: lighten(crimson, 10%);
      }
    }
  }
}

@media (max-width: 500px) {
  .login-container {
    height: 50vh;
    justify-content: space-between;
    border-radius: 20px;
    form {
      height: 100%;
      justify-content: space-around;
      input {
        min-height: 50px;
        padding: 5px;
        border-radius: 10px;
        border: none;
        text-align: center;
        max-width: 208px;
        font-size: 1rem;
        align-self: center;
        &.password-input {
          margin-left: 18px;
        }
      }
    }

    .log-btn {
      align-self: center;
      padding: 0 20px 0 20px;
    }
    .show-password-btn {
      justify-content: flex-end;
    }
  }
  .signup-container {
    top: 53%;
    height: 65vh;
    border-radius: 20px;
    justify-content: space-between;
    form {
      justify-content: space-between;
      .signup-btn {
        align-self: center;
        padding: 10px 20px 10px 20px;
      }
      input,
      select {
        min-height: 30px;
      }
    }
  }
}
