.private-room-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  .chat-container {
    height: 75vh;
    max-height: 75vh;
  }
  .back-btn {
    margin-right: 3px;
    margin-top: 10px;
    padding: 10px;
    background-color: #2bb996;
    border: none;
    border-radius: 100%;
    height: 50px;
    box-shadow: #335583 0 0 2px;
    transition: all ease-in-out 0.3s;
    img {
      height: 35px;
      filter: invert(25%) sepia(6%) saturate(6678%) hue-rotate(177deg)
        brightness(102%) contrast(77%);
    }
    &:hover {
      box-shadow: white 0 0 3px;
      img {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
          brightness(102%) contrast(102%);
      }
    }
  }
  .top-line {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .header {
      display: flex;
      gap: 20px;
      align-items: flex-end;
      h2 {
        margin: 0;
        padding: 0;
      }
      .topic-list {
        margin: 0;
        padding: 3px;
      }
    }
  }
}
