.room-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  .top-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    .user-count {
      display: flex;
      flex-direction: column;
    }

    .left-group {
      display: flex;
      flex-direction: column;
      h3 {
        margin: 0;
      }
      img {
        max-width: 128px;
        max-height: 128px;
        width: max-content;
        height: max-content;
      }
    }
    .room-img {
      left: 0px;
      max-height: 128px;
      background-color: violet;
      border-radius: 100%;
      top: 10px;
      padding: 10px;
    }
    .back-btn {
      // align-self: flex-end;
      margin-right: 3px;
      margin-top: 10px;
      padding: 10px;
      background-color: #2bb996;
      border: none;
      border-radius: 100%;
      height: 50px;
      box-shadow: #335583 0 0 2px;
      img {
        height: 35px;
        filter: invert(25%) sepia(6%) saturate(6678%) hue-rotate(177deg)
          brightness(102%) contrast(77%);
      }
      &:hover {
        box-shadow: white 0 0 3px;
        img {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(106deg)
            brightness(102%) contrast(102%);
        }
      }
    }
  }
  .chat-container {
    // margin-top: 10px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: rgb(110, 107, 107);
    height: 65vh;
    max-height: 65vh;
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    ::-webkit-scrollbar-button {
      width: 0px;
      height: 0px;
    }
    ::-webkit-scrollbar-thumb {
      background: goldenrod;
      border: 0px none #ffffff;
      border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #ffffff;
    }
    ::-webkit-scrollbar-thumb:active {
      background: #000000;
    }
    ::-webkit-scrollbar-track {
      background: #0f3961;
      border: 0px none #ffffff;
      border-radius: 0px;
    }
    ::-webkit-scrollbar-track:hover {
      background: #c88989;
    }
    ::-webkit-scrollbar-track:active {
      background: #333333;
    }
    ::-webkit-scrollbar-corner {
      background: transparent;
    }
    .typing-line {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 7%;
      min-height: 50px;
      max-height: 30%;

      .chat-btns {
        color: black;
        align-items: center;
        min-height: 100%;
        display: flex;
        gap: 3px;
        background-color: #40d4af;
        justify-content: space-around;
        .settings-icon,
        .attach-icon {
          &.open {
            filter: invert(100%) sepia(97%) saturate(13%) hue-rotate(237deg)
              brightness(104%) contrast(104%);
          }
        }
        span {
          margin-bottom: 4px;
        }
        img {
          margin: 3px;
          margin-left: 6px;
          background: none;
          border: none;
          height: 30px;
          cursor: pointer;
        }
      }
      form {
        background-color: whitesmoke;
        display: flex;
        width: 100%;
        textarea {
          display: flex;
          outline: none;
          border: none;
          background-color: whitesmoke;
          font-size: 1.2rem;
          padding: 10px 10px 5px 10px;
          flex-grow: 1;
          box-shadow: none;
          resize: none;
          overflow: auto;
          max-height: 200px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
            'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
            'Helvetica Neue', sans-serif;
        }
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #40d4af;
          border: none;
          border-bottom-left-radius: 3em;
          border-top-left-radius: 3em;
          box-shadow: rgb(117, 117, 117) -1px 0 0px 2px;
          cursor: default;
          &.allowed {
            cursor: pointer;
          }
          img {
            cursor: default;
            height: 30px;
            filter: invert(34%) sepia(40%) saturate(10000%) hue-rotate(182deg)
              brightness(312%) contrast(20%);
            &.allowed {
              cursor: pointer;
              filter: invert(34%) sepia(40%) saturate(1455%) hue-rotate(182deg)
                brightness(92%) contrast(75%);
            }
          }
        }
      }
    }
  }
}
