.rooms-page {
  .go-up-btn {
    position: fixed;
    right: 10px;
    bottom: 55px;
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 100%;
    padding: 10px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    img {
      padding: 5px;
      height: 40px;
      opacity: 0.7;
    }
  }
  position: relative;
  .view-type-toggler {
    margin-top: 20px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    .btns {
      display: flex;
      align-self: flex-end;
    }
    button {
      background-color: grey;
      &.used {
        background-color: white;
      }
      border: none;
      overflow: hidden;
      &:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }
      &:nth-child(2) {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      img {
        max-width: 30px;
        padding: 5px;
      }
    }
  }
  .rooms-list {
    &.table {
      display: flex;
      flex-direction: column;
      text-align: start;
      // background-color: #394152;
      margin-top: 20px;
      overflow-x: auto;
      overflow-y: auto;
      border-radius: 10px;
    }
    tr {
      background-color: #394152;
      transition: all 0.1s ease-in-out;
    }
    tbody {
      tr:hover {
        background-color: lighten(#282c34, 7%);
        box-shadow: rgb(249, 119, 141) inset -2px -2px 2px;
      }
    }
    .room-name {
      cursor: pointer;
    }
    thead {
      // border-bottom: white 1px solid;
      background-color: lighten(#394152, 10%);
    }
    td {
      padding: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 200px;
      a {
        text-decoration: none;
        color: white;
        transition: all 0.5s ease-in-out;
        &:hover {
          color: rgb(185, 185, 185);
        }
      }
      img {
        max-height: 30px;
      }
    }
    .actions {
      display: flex;
      justify-content: space-around;
      padding: 10px;
      img {
        cursor: pointer;
        &.liked {
          filter: invert(66%) sepia(26%) saturate(1058%) hue-rotate(115deg)
            brightness(88%) contrast(88%);
        }
        &:hover:not(.remove) {
          filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
            brightness(102%) contrast(102%);
        }
        &:hover.remove {
          filter: invert(16%) sepia(82%) saturate(6982%) hue-rotate(357deg)
            brightness(91%) contrast(123%);
        }
      }
    }
  }
  .create-room-btn {
    position: absolute;
    right: 0;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 3em;
    padding: 5px 10px 5px 10px;
    box-shadow: 2px 3px 2px rgb(109, 109, 109);
    border: none;
    background-color: rgba(240, 248, 255, 0.541);
    &:hover {
      box-shadow: 0 0 0 rgb(148, 148, 148);
      right: -2px;
      top: 42px;
      background-color: rgb(207, 216, 223);
    }
    img {
      height: 40px;
    }
  }
}
@media (max-width: 600px) {
  .rooms-page {
    display: flex;
    flex-direction: column;
    .view-type-toggler {
      .btns {
        margin-right: 20px;
      }
    }
    .go-up-btn {
      bottom: 10px;
    }
    .create-room-btn {
      position: unset;
      box-shadow: 2px 2px 4px rgb(233, 139, 139);
      background-color: rgb(101, 174, 230);
      order: -1;
      margin: 20px 20px 20px 0;
      align-self: flex-end;
    }
    .forms {
      display: flex;
      // margin-top: 100px;
      align-items: center;
      .free-search-form {
        align-self: unset;
      }
    }
    .rooms-list {
      width: 100%;
      &.table {
        border: hidden;
        border-radius: 5px;
        .actions {
          img {
            &:hover:not(.remove) {
              filter: unset;
            }
          }
        }
      }
    }
  }
}
